/*多个块级元素排成一行水平居中: text-align方案*/
.parent{
  background-color: red;
  width: 50%;
  text-align: center;
}
.child1{
  background-color:yellow;
  width: 30%;
  display: inline-block;
}
.child2{
  background-color:grey;
  width: 30%;
  display: inline-block;
}
